<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="/main.css">
    <script defer type="module" src="/main.js"></script>
</head>
<body>
    <div class="container">
        <h2>fido2 and webAuthn demo</h2>
        <h1>Come on , Join us!</h1>
        
        <form action="/user/username"  id="registration_form">
          <div class="fields">
            <span>
             <input name="username" required placeholder="username or email" type="text" />
          </span>
          <br />
           <span>
             <input name="displayName" required placeholder="displayName" type="text" />
          </span>
          </div>
          <div class="submit">
            <input class="submit" value="Submit" name="submit" type="button" />
          </div>
        </form>
      </div>

</body>
</html>